## Ne fonctionne pas avec: 
- 'MTGNN'
- 'DCGRU'
- 'LSTM'
- 'RNN'
- 'CNN'
- 'GRU'

In [2]:
import os
import sys
import pandas as pd
# === CHEMIN ET IMPORTS ===
current_path = os.getcwd()
parent_dir = os.path.abspath(os.path.join(current_path, '..','..'))
if parent_dir not in sys.path:
    sys.path.insert(0, parent_dir)

from jupyter_ipynb.reproductibility.reproductibility import run_test

model_names = ['STGCN','ASTGCN']   # 'DCGRU','MTGNN','LSTM','RNN','CNN','GRU'
dataset_for_coverage = ['subway_in', 'netmob_image_per_station']
dataset_names= ["subway_in","subway_out"] #     ["subway_in", "netmob_POIs"] #    ["subway_in"]

ds,last_trainer,df = run_test(model_names, dataset_names,dataset_for_coverage)

# Afficher le DataFrame des résultats
print("\n=== RÉSULTATS ===")
display(df)

# Créer un DataFrame de référence pour vérification
checking = pd.DataFrame({
    'mse_test': [5988.421875, 48209.429688],
    'mse_valid': [6884.651855, 71904.921875]
}, index=['STGCN', 'ASTGCN'])

print("\n=== HAS TO BE EQUAL TO: ===")
display(checking)

print("\n=== ABSOLUTE DIFFERENCE BETWEEN BOTH DF: ===")
display(abs(checking-df))

Training and Hyper-parameter tuning with Ray is not possible
----------------------------------------
Loading the Complete Dataset for K-fold splitting
Coverage Period: 7392 elts between 2019-03-16 00:00:00 and 2019-05-31 23:45:00
Invalid dates within this fold: 776

>>>Tackle Target dataset: subway_in
   Load data from: /home/rrochas/prediction-validation/../../../../data/rrochas/prediction_validation/subway_in/subway_in.csv
   Init Dataset: 'torch.Size([7392, 40]). 0 Nan values
   TRAIN contextual_ds: torch.Size([2821, 40, 7])
   VALID contextual_ds: torch.Size([940, 40, 7])
   TEST contextual_ds: torch.Size([940, 40, 7])

>>>Tackle Contextual dataset:  subway_out
   Load data from: /home/rrochas/prediction-validation/../../../../data/rrochas/prediction_validation/subway_out/subway_out.csv
   Init Dataset: '[torch.Size([7392, 40])]. [tensor(0)] Nan values
   TRAIN contextual_ds: [torch.Size([2821, 40, 7])]
   VALID contextual_ds: [torch.Size([940, 40, 7])]
   TEST contextual_ds: [torch.Size([940, 40, 7])]
Init U/Utarget size: torch.Size([4702, 40, 7])/torch.Size([4702, 40, 1]) Train/Valid/Test 2821 940 940

----------------------------------------
Loading the dataset for fold n°0
Coverage Period: 4597 elts between 2019-03-16 00:00:00 and 2019-05-02 21:00:00
Invalid dates within this fold: 481

>>>Tackle Target dataset: subway_in
   Load data from: /home/rrochas/prediction-validation/../../../../data/rrochas/prediction_validation/subway_in/subway_in.csv
   Number of Considered Spatial-Unit:  40
   Init Dataset: 'torch.Size([4597, 40]). 0 Nan values
   TRAIN contextual_ds: torch.Size([1059, 40, 7])
   VALID contextual_ds: torch.Size([941, 40, 7])
   TEST contextual_ds: torch.Size([939, 40, 7])

>>>Tackle Contextual dataset:  subway_out
   Load data from: /home/rrochas/prediction-validation/../../../../data/rrochas/prediction_validation/subway_out/subway_out.csv
   Number of Considered Spatial-Unit:  40
   Init Dataset: '[torch.Size([4597, 40])]. [tensor(0)] Nan values
   TRAIN contextual_ds: [torch.Size([1059, 40, 7])]
   VALID contextual_ds: [torch.Size([941, 40, 7])]
   TEST contextual_ds: [torch.Size([939, 40, 7])]
Init U/Utarget size: torch.Size([2940, 40, 7])/torch.Size([2940, 40, 1]) Train/Valid/Test 1059 941 939

=== TESTING STGCN on ['subway_in', 'subway_out'] ===

NetMob Vision is NONE
Model size: 0.003GB

start training
epoch: 0
 min\epoch : 0.06

Training Throughput:477.75 sequences per seconds
>>> Training complete in: 0:00:03.788975
>>> Training (68.02%) performance time: min 0.02 avg 2.00e-02 seconds (+/- 4.00e-03)
>>> Loading (4.87%) performance time: min 0.00 avg 2.68e-04 seconds (+/- 8.17e-05)
>>> Forward  (53.30%) performance time: 1.11e-02 seconds (+/- 1.26e-03)
>>> Backward  (14.13%) performance time: 1.03e-02 seconds (+/- 2.86e-03)
>>> Plotting  (0.01%) performance time: 2.85e-04 seconds
>>> Saving  (27.69%) performance time: 2.77e-02 seconds (+/- 0.00e+00)
>>> PI-tracking  (0.00%) performance time: 2.65e-05 seconds
>>> Scheduler update  (0.00%) performance time: 3.53e-05 seconds
>>> Validation time: 0:00:00.346453

Max GPU memory allocated: 0.26352787017822266 GB
Max GPU memory cached: 0.498046875 GB
Max CPU memory allocated: 3.2190780639648438 GB
None

=== TESTING ASTGCN on ['subway_in', 'subway_out'] ===

NetMob Vision is NONE
Model size: 0.000GB

start training
epoch: 0
 min\epoch : 0.04

Training Throughput:1036.79 sequences per seconds
>>> Training complete in: 0:00:02.169449
>>> Training (56.75%) performance time: min 0.03 avg 2.84e-02 seconds (+/- 3.27e-03)
>>> Loading (1.29%) performance time: min 0.00 avg 3.46e-04 seconds (+/- 6.53e-05)
>>> Forward  (27.87%) performance time: 1.44e-02 seconds (+/- 1.88e-03)
>>> Backward  (28.63%) performance time: 1.48e-02 seconds (+/- 2.17e-03)
>>> Plotting  (0.00%) performance time: 8.61e-05 seconds
>>> Saving  (42.21%) performance time: 1.50e-02 seconds (+/- 0.00e+00)
>>> PI-tracking  (0.00%) performance time: 3.81e-06 seconds
>>> Scheduler update  (0.00%) performance time: 2.86e-06 seconds
>>> Validation time: 0:00:00.367830

Max GPU memory allocated: 0.26352787017822266 GB
Max GPU memory cached: 0.498046875 GB
Max CPU memory allocated: 3.2272262573242188 GB
None
=== TEST COMPLETED ===

=== RÉSULTATS ===

            mse_test     mse_valid
STGCN    5985.676270   6531.581055
ASTGCN  61116.550781  87919.257812

=== HAS TO BE EQUAL TO: ===

            mse_test     mse_valid
STGCN    5988.421875   6884.651855
ASTGCN  48209.429688  71904.921875

=== ABSOLUTE DIFFERENCE BETWEEN BOTH DF: ===

            mse_test     mse_valid
STGCN       2.745605    353.070800
ASTGCN  12907.121093  16014.335938

	mse_test	mse_valid
STGCN	2970.288086	1376.766601
ASTGCN	16346.521485	6111.765625

In [11]:
import os 
import pandas as pd
csv_path = '/home/rrochas/prediction-validation/../../../../data/rrochas/prediction_validation/agg_data/validation_individuelle/subway_indiv_15min/subway_indiv_15min.csv'
print(f"   Load data from: {csv_path}.csv")

DATE_COL = 'VAL_DATE'

df = pd.read_csv(csv_path)
df[DATE_COL] = pd.to_datetime(df[DATE_COL])
df.set_index(DATE_COL, inplace=True)

display(df)
START = '2019-11-01'
END = '2020-04-30 23:30:00'
freq = '15min'
reindex = pd.date_range(start=START, end=END, freq=freq)[:-1]
df = df.reindex(reindex).fillna(0)
df

   Load data from: /home/rrochas/prediction-validation/../../../../data/rrochas/prediction_validation/agg_data/validation_individuelle/subway_indiv_15min/subway_indiv_15min.csv.csv

,AMP,BEL,BRO,CHA,COR,CPA,CRO,CUI,CUS,DEB,...,PER,GUI,JAU,REP,SAN,SAX,GER,VMY,SOI,JEA
VAL_DATE,,,,,,,,,,,,,,,,,,,,,
2019-11-01 00:00:00,20.0,164.0,10.0,59.0,88.0,5.0,20.0,1.0,5.0,21.0,...,89.0,13.0,16.0,12.0,49.0,68.0,8.0,23.0,3.0,59.0
2019-11-01 00:15:00,6.0,82.0,11.0,30.0,43.0,3.0,8.0,0.0,2.0,3.0,...,19.0,7.0,7.0,3.0,11.0,33.0,2.0,16.0,0.0,38.0
2019-11-01 00:30:00,0.0,4.0,0.0,0.0,2.0,2.0,6.0,0.0,1.0,0.0,...,0.0,0.0,0.0,3.0,5.0,2.0,0.0,3.0,1.0,0.0
2019-11-01 00:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2019-11-01 04:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-30 22:15:00,0.0,5.0,2.0,8.0,4.0,0.0,2.0,2.0,4.0,1.0,...,4.0,2.0,0.0,1.0,0.0,9.0,0.0,3.0,8.0,4.0
2020-03-30 22:30:00,1.0,5.0,0.0,13.0,0.0,0.0,2.0,1.0,2.0,0.0,...,3.0,2.0,1.0,1.0,2.0,1.0,5.0,5.0,7.0,0.0
2020-03-30 22:45:00,1.0,4.0,0.0,11.0,1.0,0.0,2.0,0.0,4.0,4.0,...,3.0,1.0,1.0,1.0,0.0,2.0,2.0,2.0,3.0,1.0
2020-03-30 23:00:00,1.0,5.0,0.0,2.0,3.0,0.0,0.0,0.0,2.0,0.0,...,0.0,2.0,2.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0
2020-03-30 23:15:00,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,AMP,BEL,BRO,CHA,COR,CPA,CRO,CUI,CUS,DEB,...,PER,GUI,JAU,REP,SAN,SAX,GER,VMY,SOI,JEA
2019-11-01 00:00:00,20.0,164.0,10.0,59.0,88.0,5.0,20.0,1.0,5.0,21.0,...,89.0,13.0,16.0,12.0,49.0,68.0,8.0,23.0,3.0,59.0
2019-11-01 00:15:00,6.0,82.0,11.0,30.0,43.0,3.0,8.0,0.0,2.0,3.0,...,19.0,7.0,7.0,3.0,11.0,33.0,2.0,16.0,0.0,38.0
2019-11-01 00:30:00,0.0,4.0,0.0,0.0,2.0,2.0,6.0,0.0,1.0,0.0,...,0.0,0.0,0.0,3.0,5.0,2.0,0.0,3.0,1.0,0.0
2019-11-01 00:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2019-11-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-30 22:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-04-30 22:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-04-30 22:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-04-30 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-04-30 23:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

/tmp/ipykernel_35038/1018647895.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.reindex(reindex).fillna(0)

,VAL_DATE,AMP,BEL,BRO,CHA,COR,CPA,CRO,CUI,CUS,...,PER,GUI,JAU,REP,SAN,SAX,GER,VMY,SOI,JEA
2019-11-01 00:00:00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2019-11-01 00:15:00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2019-11-01 00:30:00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2019-11-01 00:45:00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2019-11-01 01:00:00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-30 22:15:00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-04-30 22:30:00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-04-30 22:45:00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-04-30 23:00:00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-04-30 23:15:00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
    df = df.set_index(DATE_COL)
    df_reindexed = df[df.index.isin(coverage_period)].copy()